

{% extends "base.html" %}

{% block content %}
    <br /><br />
    <div class="container">

      <h1>Main features of climate news data</h1>
      <p class="lead">The data used is obtained from these news sources:</p>
      <ul>
        <li>BBC News UK</li>
        <li>Fox News</li>
        <li>The New York Times</li>
        <li>Al-Jazeera English</li>
        <li>ABC News Australia</li>
      </ul>
    
      <h2 class="mt-4">Most frequent words in corpus</h2>
      <p class="lead">All text concatenated, with stopword removal. Displaying 20 most frequent terms.</p>
        
    <div class="chart" id="barchart">
      <script>
          var graphs = {{plot | safe}};
          Plotly.plot('barchart',graphs,{});
      </script>
    </div>

    
      <div class="row mb-3">
        <div class="col-md-1 themed-grid-col"></div>
        <div class="col-md-8 themed-grid-col">
          <div class="table-responsive ">
              <table class="table table-striped table-sm">
                <thead>
                  <tr>
                    <th>Rank</th>
                    <th>Word</th>
                    <th>Frequency</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in tabledata %}
                  <tr>
                    <td>{{loop.index}}</td>
                    <td>{{item[0]}}</td> 
                    <td>{{item[1]}}</td> 
                  </tr>

                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        <div class="col-md-3 themed-grid-col"></div>
      </div>

      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      
    
    </div>

{% endblock %}